In [25]:
import pandas as pd
from scipy import stats

### Basic statistics Level 1
### Q7

In [3]:
Q7=pd.read_csv('Q7.csv')
Q7

             Unnamed: 0  Points  Score  Weigh
0             Mazda RX4    3.90  2.620  16.46
1         Mazda RX4 Wag    3.90  2.875  17.02
2            Datsun 710    3.85  2.320  18.61
3        Hornet 4 Drive    3.08  3.215  19.44
4     Hornet Sportabout    3.15  3.440  17.02
5               Valiant    2.76  3.460  20.22
6            Duster 360    3.21  3.570  15.84
7             Merc 240D    3.69  3.190  20.00
8              Merc 230    3.92  3.150  22.90
9              Merc 280    3.92  3.440  18.30
10            Merc 280C    3.92  3.440  18.90
11           Merc 450SE    3.07  4.070  17.40
12           Merc 450SL    3.07  3.730  17.60
13          Merc 450SLC    3.07  3.780  18.00
14   Cadillac Fleetwood    2.93  5.250  17.98
15  Lincoln Continental    3.00  5.424  17.82
16    Chrysler Imperial    3.23  5.345  17.42
17             Fiat 128    4.08  2.200  19.47
18          Honda Civic    4.93  1.615  18.52
19       Toyota Corolla    4.22  1.835  19.90
20        Toyota Corona    3.70  2.465  20.01
21     Dodge Challenger    2.76  3.520  16.87
22          AMC Javelin    3.15  3.435  17.30
23           Camaro Z28    3.73  3.840  15.41
24     Pontiac Firebird    3.08  3.845  17.05
25            Fiat X1-9    4.08  1.935  18.90
26        Porsche 914-2    4.43  2.140  16.70
27         Lotus Europa    3.77  1.513  16.90
28       Ford Pantera L    4.22  3.170  14.50
29         Ferrari Dino    3.62  2.770  15.50
30        Maserati Bora    3.54  3.570  14.60
31           Volvo 142E    4.11  2.780  18.60

In [5]:
Q7.mean()

Points     3.596563
Score      3.217250
Weigh     17.848750
dtype: float64

In [8]:
Q7.median()

Points     3.695
Score      3.325
Weigh     17.710
dtype: float64

In [11]:
Q7.mode()

             Unnamed: 0  Points  Score  Weigh
0           AMC Javelin    3.07   3.44  17.02
1    Cadillac Fleetwood    3.92    NaN  18.90
2            Camaro Z28     NaN    NaN    NaN
3     Chrysler Imperial     NaN    NaN    NaN
4            Datsun 710     NaN    NaN    NaN
5      Dodge Challenger     NaN    NaN    NaN
6            Duster 360     NaN    NaN    NaN
7          Ferrari Dino     NaN    NaN    NaN
8              Fiat 128     NaN    NaN    NaN
9             Fiat X1-9     NaN    NaN    NaN
10       Ford Pantera L     NaN    NaN    NaN
11          Honda Civic     NaN    NaN    NaN
12       Hornet 4 Drive     NaN    NaN    NaN
13    Hornet Sportabout     NaN    NaN    NaN
14  Lincoln Continental     NaN    NaN    NaN
15         Lotus Europa     NaN    NaN    NaN
16        Maserati Bora     NaN    NaN    NaN
17            Mazda RX4     NaN    NaN    NaN
18        Mazda RX4 Wag     NaN    NaN    NaN
19             Merc 230     NaN    NaN    NaN
20            Merc 240D     NaN    NaN    NaN
21             Merc 280     NaN    NaN    NaN
22            Merc 280C     NaN    NaN    NaN
23           Merc 450SE     NaN    NaN    NaN
24           Merc 450SL     NaN    NaN    NaN
25          Merc 450SLC     NaN    NaN    NaN
26     Pontiac Firebird     NaN    NaN    NaN
27        Porsche 914-2     NaN    NaN    NaN
28       Toyota Corolla     NaN    NaN    NaN
29        Toyota Corona     NaN    NaN    NaN
30              Valiant     NaN    NaN    NaN
31           Volvo 142E     NaN    NaN    NaN

In [12]:
Q7.var()

Points    0.285881
Score     0.957379
Weigh     3.193166
dtype: float64

In [13]:
Q7.std()

Points    0.534679
Score     0.978457
Weigh     1.786943
dtype: float64

In [14]:
points_range=Q7['Points'].max() - Q7['Points'].min()
points_range

2.17

In [16]:
score_range=Q7['Score'].max()-Q7['Score'].min()
score_range

3.9110000000000005

In [17]:
weigh_range=Q7['Weigh'].max()-Q7['Weigh'].min()
weigh_range

8.399999999999999

### Q9.a

In [18]:
Q9_a=pd.read_csv('Q9_a.csv')
Q9_a

    Index  speed  dist
0       1      4     2
1       2      4    10
2       3      7     4
3       4      7    22
4       5      8    16
5       6      9    10
6       7     10    18
7       8     10    26
8       9     10    34
9      10     11    17
10     11     11    28
11     12     12    14
12     13     12    20
13     14     12    24
14     15     12    28
15     16     13    26
16     17     13    34
17     18     13    34
18     19     13    46
19     20     14    26
20     21     14    36
21     22     14    60
22     23     14    80
23     24     15    20
24     25     15    26
25     26     15    54
26     27     16    32
27     28     16    40
28     29     17    32
29     30     17    40
30     31     17    50
31     32     18    42
32     33     18    56
33     34     18    76
34     35     18    84
35     36     19    36
36     37     19    46
37     38     19    68
38     39     20    32
39     40     20    48
40     41     20    52
41     42     20    56
42     43     20    64
43     44     22    66
44     45     23    54
45     46     24    70
46     47     24    92
47     48     24    93
48     49     24   120
49     50     25    85

In [19]:
Q9_a.skew()

Index    0.000000
speed   -0.117510
dist     0.806895
dtype: float64

In [20]:
Q9_a.kurt()

Index   -1.200000
speed   -0.508994
dist     0.405053
dtype: float64

### Q9.b

In [21]:
Q9_b=pd.read_csv('Q9_b.csv')
Q9_b

    Unnamed: 0          SP         WT
0            1  104.185353  28.762059
1            2  105.461264  30.466833
2            3  105.461264  30.193597
3            4  113.461264  30.632114
4            5  104.461264  29.889149
..         ...         ...        ...
76          77  169.598513  16.132947
77          78  150.576579  37.923113
78          79  151.598513  15.769625
79          80  167.944460  39.423099
80          81  139.840817  34.948615

[81 rows x 3 columns]

In [22]:
Q9_b.skew()

Unnamed: 0    0.000000
SP            1.611450
WT           -0.614753
dtype: float64

In [23]:
Q9_b.kurt()

Unnamed: 0   -1.200000
SP            2.977329
WT            0.950291
dtype: float64

### Q11

In [26]:
#Confidence Interval of 94%
stats.norm.interval(0.94,200,30/2000**0.5)

(198.738325292158, 201.261674707842)

In [28]:
#Confidence interval of 96%
stats.norm.interval(0.96,200,30/2000**0.5)

(198.62230334813333, 201.37769665186667)

In [29]:
#Confidence interval of 98%
stats.norm.interval(0.98,200,30/2000**0.5)

(198.43943840429978, 201.56056159570022)

### Q12

In [37]:
data=pd.Series([34,36,36,38,38,39,39,40,40,41,41,41,41,42,42,45,49,56])
data

0     34
1     36
2     36
3     38
4     38
5     39
6     39
7     40
8     40
9     41
10    41
11    41
12    41
13    42
14    42
15    45
16    49
17    56
dtype: int64

In [38]:
data.mean()

41.0

In [39]:
data.median()

40.5

In [40]:
data.var()

25.529411764705884

In [41]:
data.std()

5.05266382858645

### Q20

In [42]:
cars=pd.read_csv('Cars.csv')
cars

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [45]:
#PMPG>38)
1-stats.norm.cdf(38,cars.MPG.mean(),cars.MPG.std())

0.3475939251582705

In [46]:
#P(MPG<40)
stats.norm.cdf(40,cars.MPG.mean(),cars.MPG.std())

0.7293498762151616

In [47]:
#P(20<MPG<50)
stats.norm.cdf(0.50,cars.MPG.mean(),cars.MPG.std())-stats.norm.cdf(0.20,cars.MPG.mean(),cars.MPG.std())

1.2430968797327613e-05

### Q21.a

In [48]:
cars.mean()

HP     117.469136
MPG     34.422076
VOL     98.765432
SP     121.540272
WT      32.412577
dtype: float64

In [49]:
cars.median()

HP     100.000000
MPG     35.152727
VOL    101.000000
SP     118.208698
WT      32.734518
dtype: float64

In [50]:
cars.mode()

      HP        MPG   VOL          SP         WT
0   92.0  29.629936  50.0  118.288996  15.712859
1    NaN        NaN   NaN         NaN  15.753535
2    NaN        NaN   NaN         NaN  15.769625
3    NaN        NaN   NaN         NaN  15.823060
4    NaN        NaN   NaN         NaN  15.847758
..   ...        ...   ...         ...        ...
76   NaN        NaN   NaN         NaN  42.778219
77   NaN        NaN   NaN         NaN  43.353123
78   NaN        NaN   NaN         NaN  43.390988
79   NaN        NaN   NaN         NaN  44.013139
80   NaN        NaN   NaN         NaN  52.997752

[81 rows x 5 columns]

In [51]:
#mean and median are slightly equal,but does not follow proper normal distribution

### Q21.b

In [52]:
wc_at_data=pd.read_csv('wc-at.csv')
wc_at_data

      Waist      AT
0     74.75   25.72
1     72.60   25.89
2     81.80   42.60
3     83.95   42.80
4     74.65   29.84
..      ...     ...
104  100.10  124.00
105   93.30   62.20
106  101.80  133.00
107  107.90  208.00
108  108.50  208.00

[109 rows x 2 columns]

In [53]:
wc_at_data.mean()

Waist     91.901835
AT       101.894037
dtype: float64

In [54]:
wc_at_data.median()

Waist    90.80
AT       96.54
dtype: float64

In [55]:
wc_at_data.mode()

   Waist     AT
0   94.5  121.0
1  106.0  123.0
2  108.5    NaN

In [56]:
#Mean>Median in both cases,so it does not follow normal distribution

### Q24

In [57]:
#t_score=(sample mean-population mean)/(sample std/sqrt(n))
t_score=(260-270)/(90/18**0.5)
t_score

-0.4714045207910317

In [60]:
#rcode pt(tscore,df) 
pt=stats.t.cdf(-0.471404,17)
pt

0.32167271782057305